@page "/login"

@using System.Text;
@using TheMall.Data
@using Microsoft.AspNetCore.Cryptography.KeyDerivation;
@using System.Security.Cryptography;
@using TheMall.Data.Modles;

@inject AppState AppState
@inject NavigationManager NavManager
@inject HttpClient client

<EditForm Model="@Model" OnValidSubmit="@HandleValidLogin" OnInvalidSubmit="@HandleInvalidLogin">

    <DataAnnotationsValidator />

    <div class="form-group">
        <label for="name">Brugernavn: </label>
        <InputText Id="name" Class="form-control formLog" @bind-Value="@Model.UserName"></InputText>
        <ValidationMessage For="@(() => Model.UserName)" />
    </div>
    <br />
    <div class="form-group">
        <label for="pass">Kodeord: </label>
        <InputText Id="pass" type="password" Class="form-control formLog" @bind-Value="@Model.Password"></InputText>
        <ValidationMessage For="@(() => Model.Password)" />
    </div>
    <br />
    <button type="submit">Login</button>
    <div class="customTextColor">@statusMessage</div>

</EditForm>

@code
{
    private string statusMessage = " ";

    private FirmUser Model = new FirmUser();

    //Is called on button click when loggin in.
    //Gets a session from the api if the login is corrent
    //Then rediret if we get a session back.
    protected async Task HandleValidLogin()
    {
        RestCaller restCaller = new RestCaller();

        statusMessage = "Vi tjekker lige dit login...";

        var sessionCredentials =  await restCaller.GetLoginCredentiels(Model.UserName, Model.Password);

        if (sessionCredentials.Role != null && sessionCredentials.SessionKey != null && sessionCredentials.FirmID > 0)
        {
            if (sessionCredentials.Role == "Administrator")
            {
                // Setting objects before navigating
                AppState.Credentials = sessionCredentials;
                AppState.UserName = Model.UserName;

                // Navigate to another page
                NavManager.NavigateTo("/administrator");
            }
            else
            {

                // Setting objects before navigating
                AppState.Credentials = sessionCredentials;
                AppState.UserName = Model.UserName;

                // Navigate to another page
                NavManager.NavigateTo("/create");
            }
        }
        else
        {
            statusMessage = "Ingen Adgang";
        }
    }

    //Update status message if login was invalid
    protected void HandleInvalidLogin()
    {
        statusMessage = "Noget gik galt...";
    }
}

