@page "/view"

@using TheMall.Data.CanvasData
@using System.Drawing
@using Blazor.Extensions
@using Blazor.Extensions.Canvas;
@using Blazor.Extensions.Canvas.Canvas2D;
@using Blazor.Extensions.Canvas.WebGL;
@using BlazorColorPicker
@using System.Collections.Generic;
@using TheMall.Data;
@using TheMall.Data.Modles;

@inject AppState AppState

<h3>Hej @AppState.UserName</h3>

<div style="display: inline-block;">
    <div id="drawCanvas" class="canvasStyle" tabindex="0" style="float: left;">
        <BECanvas Width="600" Height="500" @ref="canvasRef" />
    </div>

    <div style="float: right; width: 300px; margin-left: 30px;">
        <h3>Vælg og vis kort.</h3>
         <div>
            <label for="mall">Vælg Storcenter: </label>
        </div>
        <br />
      @*  <div>
            <label for="map">Vælg Kort: </label>
            <select class="form-control selectpicker" @bind="Model.Layer">
                <option id="map">----</option>
                @foreach (var item in mapObjInList)
                {
                    <option value="@item.MallID">@item.Layer</option>
                }
            </select>
        </div>
        <br />
        <div>
            <button class="drawBTN drawBTNsizeL" @onclick="ShowMap">Vis</button>
        </div>*@
        <br />
        <hr />
        <h3 hidden="@isHidden">Slet kort.</h3>
        <div>
            <button hidden="@isHidden" class="drawBTN drawBTNsizeS" @onclick="DeleteMap">Slet</button>
        </div>
    </div>
</div>

@code {
    private BECanvasComponent? canvasRef;
    bool isHidden = true;

    protected override async Task OnInitializedAsync()
    {
        if (AppState.Credentials.Role == "Redaktør")
        {
        isHidden = false;
        }
        else
        {
          isHidden = true;
        }
    }

    protected async Task ShowMap()
    {
        // call API...
        //var result = await client.GetFromJsonAsync($"https://localhost:7032/Map/GetByLocation?MallID={Model.Layer}", null);
    }

    protected async Task DeleteMap()
    {
        // call API...
        //var result = await client.PostAsJsonAsync<object>($"https://localhost:7032/Map/Delete?MallID={Model.Layer}", null);
    }
}
